<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Hr_Page>
			<version>0.1.0</version>
		</Hr_Page>
	</modules>
	<global>
        <resources>
            <hr-page_setup>
                <setup>
                    <module>Hr_Page</module>
                </setup>
            </hr-page_setup>
        </resources>
        <blocks>
        	<hr-page>
        		<class>Hr_Page_Block</class>
        	</hr-page>
        	<page>
        		<rewrite>
        			<html_footermenu>Hr_Page_Block_Html_FooterMenu</html_footermenu>
        		</rewrite>
        	</page>
        </blocks>
	</global>
</config>
