<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Hr_Customer>
			<version>0.1.0</version>
		</Hr_Customer>
	</modules>
	<global>
        <resources>
            <hr-customer_setup>
                <setup>
                    <module>Hr_Customer</module>
                </setup>
            </hr-customer_setup>
        </resources>
        <blocks>
        	<hr-customer>
        		<class>Hr_Customer_Block</class>
        	</hr-customer>
        </blocks>
        <helpers>
			<hr-customer>
				<class>Hr_Customer_Helper</class>
			</hr-customer>
		</helpers>
	</global>
	<frontend>
		<routers>
            <customer>
                <use>standard</use>
                <args>
                    <module>Hr_Customer</module>
                    <frontName>customer</frontName>
                </args>
            </customer>
        </routers>
        <layout>
			<updates>
				<hr-customer>
					<file>hr-customer.xml</file>
				</hr-customer>
			</updates>
		</layout>
	</frontend>
</config>
