<?xml version="1.0"?>
<config>

	<modules>
		<AW_Advancednewsletter>
			<version>1.3.1</version><platform>ce</platform>
		</AW_Advancednewsletter>
	</modules>

	<frontend>
		<layout>
			<updates>
				<advancednewsletter module="AW_Advancednewsletter">
					<file>advancednewsletter.xml</file>
				</advancednewsletter>
			</updates>
		</layout>
		<routers>
			<advancednewsletter>
				<use>standard</use>
				<args>
					<module>AW_Advancednewsletter</module>
					<frontName>advancednewsletter</frontName>
				</args>
			</advancednewsletter>
		</routers>
		<translate>
			<modules>
				<AW_Advancednewsletter>
					<files>
						<default>AW_Advancednewsletter.csv</default>
					</files>
				</AW_Advancednewsletter>
			</modules>
		</translate>
	</frontend>

	<admin>
		<routers>
			<advancednewsletter_admin>
				<use>admin</use>
				<args>
					<module>AW_Advancednewsletter</module>
					<frontName>advancednewsletter_admin</frontName>
				</args>
			</advancednewsletter_admin>
		</routers>
	</admin>

	<adminhtml>
		<translate>
			<modules>
				<AW_Advancednewsletter>
					<files>
						<default>AW_Advancednewsletter.csv</default>
					</files>
				</AW_Advancednewsletter>
			</modules>
		</translate>
		<menu>
			<newsletter>
				<children>
					<advancednewsletter module="advancednewsletter">
						<title>Advanced Newsletter Configuration</title>
						<sort_order>200</sort_order>
						<children>
							<segmentsmanagment>
								<title>Segments Management</title>
								<sort_order>1</sort_order>
								<action>advancednewsletter_admin/adminhtml_segmentsmanagment</action>
							</segmentsmanagment>
							<formconfiguration>
								<title>Form Configuration</title>
								<sort_order>2</sort_order>
								<action>adminhtml/system_config/edit/section/advancednewsletter</action>
							</formconfiguration>
							<smtpconfiguration>
								<title>SMTP Configuration</title>
								<sort_order>3</sort_order>
								<action>advancednewsletter_admin/adminhtml_smtpconfiguration</action>
							</smtpconfiguration>
							<automanagement>
								<title>Auto-management rules</title>
								<sort_order>4</sort_order>
								<action>advancednewsletter_admin/adminhtml_automanagement</action>
							</automanagement>
							<exportcustomers>
								<title>Export Customers</title>
								<sort_order>5</sort_order>
								<action>advancednewsletter_admin/adminhtml_customer</action>
							</exportcustomers>
						</children>
					</advancednewsletter>
				</children>
			</newsletter>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<advancednewsletter>
											<title>aheadWorks - Advanced Newsletter Configuration</title>
										</advancednewsletter>
									</children>
								</config>
							</children>
						</system>
						<newsletter>
							<children>
								<advancednewsletter module="advancednewsletter">
									<title>aheadWorks - Advanced Newsletter</title>
									<sort_order>200</sort_order>
									<children>
										<segmentsmanagment>
											<title>Segments Management</title>
											<sort_order>1</sort_order>
											<action>advancednewsletter_admin/adminhtml_segmentsmanagment</action>
										</segmentsmanagment>
										<formconfiguration>
											<title>Form Configuration</title>
											<sort_order>2</sort_order>
											<action>adminhtml/system_config/edit/section/advancednewsletter</action>
										</formconfiguration>
										<smtpconfiguration>
											<title>SMTP Configuration</title>
											<sort_order>3</sort_order>
											<action>advancednewsletter_admin/adminhtml_smtpconfiguration</action>
										</smtpconfiguration>
										<automanagement>
											<title>Auto-management rules</title>
											<sort_order>4</sort_order>
											<action>advancednewsletter_admin/adminhtml_automanagement</action>
										</automanagement>
										<exportcustomers>
											<title>Export Customers</title>
											<sort_order>5</sort_order>
											<action>advancednewsletter_admin/adminhtml_customer</action>
										</exportcustomers>
									</children>
								</advancednewsletter>
							</children>
						</newsletter>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<advancednewsletter>
					<file>advancednewsletter.xml</file>
				</advancednewsletter>
			</updates>
		</layout>
	</adminhtml>

	<global>
		<events>
			<customer_save_after>
				<observers>
					<newsletter_subscribe_observer>
						<type>singleton</type>
						<class>advancednewsletter/observer</class>
						<method>subscribeCustomer</method>
					</newsletter_subscribe_observer>
				</observers>
			</customer_save_after>
			<sales_order_save_after>
				<observers>
					<customer_order_observer>
						<type>singleton</type>
						<class>advancednewsletter/observer</class>
						<method>orderStatusChanged</method>
					</customer_order_observer>
				</observers>
			</sales_order_save_after>
		</events>
		<models>
			<advancednewsletter>
				<class>AW_Advancednewsletter_Model</class>
				<resourceModel>advancednewsletter_mysql4</resourceModel>
			</advancednewsletter>
			<advancednewsletter_mysql4>
				<class>AW_Advancednewsletter_Model_Mysql4</class>
				<entities>
					<segmentsmanagment>
						<table>aw_advancednewsletter_segment</table>
					</segmentsmanagment>
				</entities>
				<entities>
					<smtpconfiguration>
						<table>aw_advancednewsletter_smtp</table>
					</smtpconfiguration>
				</entities>
				<entities>
					<subscriptions>
						<table>aw_advancednewsletter_subscriptions</table>
					</subscriptions>
				</entities>
				<entities>
					<templates>
						<table>aw_advancednewsletter_templates</table>
					</templates>
				</entities>
				<entities>
					<automanagement>
						<table>aw_advancednewsletter_automanagement</table>
					</automanagement>
				</entities>
			</advancednewsletter_mysql4>
			<newsletter>
				<rewrite>
					<template>AW_Advancednewsletter_Model_Template</template>
				</rewrite>
			</newsletter>
			<newsletter_mysql4>
				<rewrite>
					<queue>AW_Advancednewsletter_Model_Mysql4_Queue</queue>
				</rewrite>
			</newsletter_mysql4>
			<newsletter_mysql4>
				<rewrite>
					<template>AW_Advancednewsletter_Model_Mysql4_Template</template>
				</rewrite>
			</newsletter_mysql4>
		</models>
		<resources>
			<advancednewsletter_setup>
				<setup>
					<module>AW_Advancednewsletter</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</advancednewsletter_setup>
			<advancednewsletter_write>
				<connection>
					<use>core_write</use>
				</connection>
			</advancednewsletter_write>
			<advancednewsletter_read>
				<connection>
					<use>core_read</use>
				</connection>
			</advancednewsletter_read>
		</resources>
		<blocks>
			<advancednewsletter>
				<class>AW_Advancednewsletter_Block</class>
			</advancednewsletter>
			<adminhtml>
				<rewrite>
					<newsletter_template_grid>AW_Advancednewsletter_Block_Adminhtml_Newslettertemplates</newsletter_template_grid>
				</rewrite>
			</adminhtml>
			<adminhtml>
				<rewrite>
					<newsletter_subscriber_grid>AW_Advancednewsletter_Block_Adminhtml_Subscriber_Grid</newsletter_subscriber_grid>
				</rewrite>
			</adminhtml>
			<adminhtml>
				<rewrite>
					<newsletter_template_edit_form>AW_Advancednewsletter_Block_Adminhtml_Newslettertemplates_Edit_Form</newsletter_template_edit_form>
				</rewrite>
			</adminhtml>
			<newsletter>
				<rewrite>
					<subscribe>AW_Advancednewsletter_Block_Subscribe</subscribe>
				</rewrite>
			</newsletter>
			<customer>
				<rewrite>
					<newsletter>AW_Advancednewsletter_Block_Newsletter</newsletter>
				</rewrite>
			</customer>
			<customer>
				<rewrite>
					<account_dashboard_info>AW_Advancednewsletter_Block_Customer_Account_Dashboard_Info</account_dashboard_info>
				</rewrite>
			</customer>
			<adminhtml>
				<rewrite>
					<newsletter_queue_grid>AW_Advancednewsletter_Block_Adminhtml_Newsletterqueue_Grid</newsletter_queue_grid>
				</rewrite>
			</adminhtml>
			<newsletter>
				<rewrite>
					<mysql4_subscriber_collection>AW_Advancednewsletter_Model_Mysql4_Subscriber_Collection</mysql4_subscriber_collection>
				</rewrite>
			</newsletter>
			<adminhtml>
				<rewrite>
					<newsletter_subscriber>AW_Advancednewsletter_Block_Adminhtml_Newsletter_Subscriber</newsletter_subscriber>
				</rewrite>
			</adminhtml>
			<adminhtml>
				<rewrite>
					<newsletter_queue_edit>AW_Advancednewsletter_Block_Adminhtml_Newsletter_Queue_Edit</newsletter_queue_edit>
				</rewrite>
			</adminhtml>
			<adminhtml>
				<rewrite>
					<newsletter_template_grid_renderer_action>AW_Advancednewsletter_Block_Adminhtml_Newsletter_Template_Grid_Renderer_Action</newsletter_template_grid_renderer_action>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<advancednewsletter>
				<class>AW_Advancednewsletter_Helper</class>
			</advancednewsletter>
		</helpers>
		<rewrite>
			<advancednewsletter_newsletter_queue>
				<from><![CDATA[#^/admin/newsletter_queue/edit/#]]></from>
				<to>/advancednewsletter_admin/newsletter_queue/edit/</to>
			</advancednewsletter_newsletter_queue>
		</rewrite>
		<rewrite>
			<advancednewsletter_newsletter_subscriber>
				<from><![CDATA[#^/.*/newsletter_subscriber/#]]></from>
				<to>/advancednewsletter_admin/newsletter_subscriber/</to>
			</advancednewsletter_newsletter_subscriber>
		</rewrite>
		<rewrite>
			<advancednewsletter_index>
				<from><![CDATA[#^/newsletter/subscriber/confirm/#]]></from>
				<to>/advancednewsletter_admin/index/confirm/</to>
			</advancednewsletter_index>
		</rewrite>
	</global>

	<default>
		<advancednewsletter>
			<mailchimpconfig>
				<autosync>1</autosync>
				<xmlrpc>http://api.mailchimp.com/1.2/</xmlrpc>
			</mailchimpconfig>
		</advancednewsletter>
	</default>

</config>